{% extends "base.html" %}

{% block title %}Archive | {{ SITENAME }}{% endblock %}
{% set current = "archive" %}

{% macro countyear(year) %}
{% set name = namespace(y=0) %}
{% for article in dates %}
{% if article.date | strftime('%Y') == year %}
{% set name.y = name.y + 1 %}
{% endif %}
{% endfor %}
{{name.y}}
{% endmacro %}

{% macro countmonth(month, year) %}
{% set name = namespace(m=0) %}
{% for article in dates %}
{% if article.date | strftime('%B') == month and article.date | strftime('%Y') == year %}
{% set name.m = name.m + 1 %}
{% endif %}
{% endfor %}
{{name.m}}
{% endmacro %}

{% block content %}
<div class="md:mt-14 text-sky-800 dark:text-sky-300 pb-6">
    <h1 class="font-bold text-4xl my-10 px-1">Archive</h1>
    <ul class="flex-col">
        {% for year, year_group in dates_page.object_list|groupby('date.year')|reverse %}
        {% for month, month_group in year_group|groupby('date.month')|reverse %}
        {% for article in month_group %}
        {% if article == month_group[0] and article == year_group[0] %}
        <li>
            <div class="my-6 px-2">
                <h2 class="text-2xl font-semibold">{{(month_group|first).date|strftime('%Y')}}
                    <sup class="text-sm text-sky-800 dark:text-sky-400">
                        {{ countyear(article.date | strftime('%Y')) }}
                    </sup>
                </h2>
            </div>
            <div class="md:flex p-2">
                <div class="flex text-xl font-semibold md:w-40">
                    {{ (month_group|first).date|strftime('%B') }}
                    <sup class="text-sm m-1 text-sky-800 dark:text-sky-400">
                        {{ countmonth(article.date | strftime('%B'), article.date | strftime('%Y')) }}
                    </sup>
                </div>
                <div class="flex-1">
                    <a href="{{ SITEURL }}/{{ article.url }}">
                        <span class="text-lg">{{ article.title}}</span>
                        <div class="flex text-xs text-sky-800 dark:text-sky-400">
                            <time>{{ article.date|strftime('%B %d, %Y') }}</time>
                            {% if article.readtime %}
                            <span>&nbsp;·&nbsp;{{ article.readtime }} min read</span>
                            {% endif %}
                            {% if article.author != '' %}
                            <span>&nbsp;·&nbsp;{{ article.author }}</span>
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        </li>
        {% elif article == month_group[0] %}
        <li>
            <div class="md:flex mt-1 p-2">
                <div class="flex md:w-40 text-xl font-semibold ">
                    {{ (month_group|first).date|strftime('%B')}}
                    <sup class="text-sm m-1 text-sky-800 dark:text-sky-400">
                        {{ countmonth(article.date | strftime('%B'), article.date | strftime('%Y')) }}
                    </sup>
                </div>
                <div class="flex-1">
                    <a href="{{ SITEURL }}/{{ article.url }}">
                        <span class="text-lg">{{ article.title}}</span>
                        <div class="flex text-xs text-sky-800 dark:text-sky-400">
                            <time>{{ article.date|strftime('%B %d, %Y') }}</time>
                            {% if article.readtime %}
                            <span>&nbsp;·&nbsp;{{ article.readtime }} min read</span>
                            {% endif %}
                            {% if article.author != '' %}
                            <span>&nbsp;·&nbsp;{{ article.author }}</span>
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        </li>
        {% else %}
        <li>
            <div class="md:flex p-2">
                <div class="flex md:w-40"></div>
                <div class="flex-1">
                    <a href="{{ SITEURL }}/{{ article.url }}">
                        <span class="text-lg">{{ article.title}}</span>
                        <div class="flex text-xs text-sky-800 dark:text-sky-400">
                            <time>{{ article.date|strftime('%B %d, %Y') }}</time>
                            {% if article.readtime %}
                            <span>&nbsp;·&nbsp;{{ article.readtime }} min read</span>
                            {% endif %}
                            {% if article.author != '' %}
                            <span>&nbsp;·&nbsp;{{ article.author }}</span>
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% if dates_page.has_other_pages() %}
{% include 'pagination.html' %}
{% endif %}

{% endblock %}