{% extends "base.html" %}

{% block content %}

{% block content_title %}
{% if not category and not tag %}
<div class="my-12 md:my-24 text-sky-800 dark:text-sky-300">
  {% if SUBTITLE %}
  <h1 class="mb-6 text-3xl font-bold">{{ SUBTITLE }}</h1>
  {%endif%}
  {%if SUBTEXT %}
  <p class="mb-8 text-sky-600 dark:text-sky-400"> {{ SUBTEXT }}</p>
  {% endif %}
  {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
  <ul class="flex px-2 space-x-4 text-lg">
    {% for name, link in SOCIAL %}
    <li><a href="{{ link }}" target="_blank" rel="noopener noreferrer" title="{{ name|capitalize}}"
        aria-label="{{ name|capitalize }}"><i class="fab fa-{{ name }} fa-lg"></i></a></li>
    {% endfor %}
    {% if FEED_ALL_ATOM %}
    <li><a href="{{ FEED_DOMAIN }}/
                        {% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
        type="application/atom+xml" title="{{ FEED_ALL_ATOM }}" rel="alternate"><i class="fa fa-rss fa-lg"
          aria-hidden="true"></i></a>
    </li>
    {% endif %}
    {% if FEED_ALL_RSS %}
    <li><a href="{{ FEED_DOMAIN }}/
                        {% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
        type="application/rss+xml" title="{{ FEED_ALL_RSS }}" rel="alternate"><i class="fa fa-rss fa-lg"
          aria-hidden="true"></i></a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</div>
{% endif %}
{% endblock %}

<div class="py-1">
  <ul>
    {% for article in articles_page.object_list %}
    <li class="transition ease-in active:-translate-y-1 active:scale-110 duration-75">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
        <div class="bg-white dark:bg-sky-800 p-4 md:p-6 mb-4 rounded-lg">
          <header class="font-semibold text-2xl mb-2">
            <h1>{{ article.title }}</h1>
          </header>
          <div class="max-w-7xl container mx-auto my-4 justify-center overflow-hidden mb-2 text-sm text-sky-800 dark:text-sky-400
          prose lg:max-w-none prose-headings:text-sky-800 prose-headings:dark:text-sky-300 
          prose-h1:text-3xl prose-headings:font-semibold 
          prose-pre:bg-sky-200 prose-pre:text-sky-800
          dark:prose-pre:bg-sky-800 dark:prose-pre:text-sky-200
          prose-blockquote:text-sky-800
          dark:prose-blockquote:text-sky-200
          prose-a:text-gray-500
          dark:prose-a:text-gray-400
          dark:prose-strong:text-sky-200 
          dark:prose-code:text-sky-200
          dark:prose-code:bg-sky-800
          prose-code:bg-sky-200
          prose-code:font-light
          prose-img:rounded-md
          ">
            {{ article.summary }}
          </div>
          <div class="flex text-xs text-sky-800 dark:text-sky-400">
            <time>{{ article.date|strftime('%B %d, %Y') }}</time>
            <div>
              {% if article.readtime %}
              <span>&nbsp;·&nbsp;{{ article.readtime }} min read</span>
              {% endif %}
            </div>
            <div>
              {% if article.author != '' %}
              <span>&nbsp;·&nbsp;{{ article.author }}</span>
              {% endif %}
            </div>
          </div>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% if articles_page.has_other_pages() %}
{% include 'pagination.html' %}
{% endif %}

{% endblock content %}
