{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} | {{ page.title }}{%endblock%}

{% block content %}

<main class="text-sky-800 dark:text-sky-300">
    <div class="max-w-7xl container mx-auto my-2 text-sky-800 dark:text-sky-300  
            prose lg:max-w-none prose-headings:text-sky-800 prose-headings:dark:text-sky-300 
            prose-h1:text-3xl lg:prose-h1:text-3xl prose-headings:font-semibold 
            prose-pre:bg-sky-200 prose-pre:text-sky-800
            dark:prose-pre:bg-sky-800 dark:prose-pre:text-sky-200
            prose-blockquote:text-sky-800
            dark:prose-blockquote:text-sky-200
            prose-a:text-slate-600 prose-a:font-normal
            dark:prose-a:text-slate-400
            dark:prose-strong:text-sky-200 
            dark:prose-code:text-sky-200
            dark:prose-code:bg-sky-800
            prose-code:bg-sky-200
            prose-code:font-light
            prose-img:rounded-md
            sm:text-left md:text-justify
            ">
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(page) }}
        {{ page.content }}
        <!-- <div class="aspect-w-16 aspect-h-9 mx-auto"></div> CSS placeholder -->
    </div>
    {% if SHARE %}
    <footer class="flex bg-sky-200 dark:bg-sky-700 mt-10 py-2 rounded-lg justify-center space-x-2 text-xs">
        {% for name, link in SHARE %}
        <ul>
            <li class="bg-gray-900 p-1 text-white rounded-md">
                <a target="_blank" rel="noopener noreferrer" title="{{ name }}"
                    aria-label="share Features on {{ name }}" href="{{ link }}{{ SITEURL }}/{{ page.url }}">
                    <i class="fab fa-{{ name }} fa-2x" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        {% endfor %}
    </footer>
    {% endif %}
    <div>
        {% include 'disqus_script.html' %}
    </div>
</main>

{% endblock %}