{% extends "base.html" %}

{% block title %}{{ SITENAME }} | Tags{% endblock %}
{% set current = "tags" %}

{% block content %}

<div class="mb-12 md:mt-14 text-gray-800 dark:text-gray-300">
    <h1 class="font-bold text-4xl my-10">Tags</h1>
    <ul class="flex flex-wrap font-medium">
        {% for tag, articles in tags|sort %}
        <li
            class="bg-sky-300 dark:bg-neutral-700 text-sky-800 dark:text-sky-300 hover:bg-sky-400 dark:hover:bg-sky-800 m-2 py-2 px-2 md:px-4 rounded-md transition ease-in active:-translate-y-1 active:scale-110 duration-75">
            <a href="{{ SITEURL }}/{{ tag.url }}">
                {{ tag }}<sup class="p-1">{{ articles|count }}</sup>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}